body {
    background-color: #333;
}
.nav_wrapper {
    height: 54px;
    background-color: #555;
    min-width: 768px;
    box-shadow: 1px 1px 6px #111;
    font-family: 'Kanit', 'Montserrat', sans-serif;
    font-size: 18px;
}


/* common rules for both top navbars  */
.navbar, .navbar_right {
    background-color: #555;
    display: inline-block;
}
.navbar li, .navbar_right li {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    text-shadow: 2px 2px 4px #000000;
}
.navbar img, .navbar_right img {
    width: 20px;
    height: 20px; 
}
.navbar a, .navbar_right a {
    color: white;
    text-decoration: none;
}
.navbar a::after, .navbar_right a::after {
    content: "";
    display: block;
    border-bottom: 1px solid transparent;
    transform: translateX(-100%);
    transition: 0.5s;
}
.navbar a:hover::after, .navbar_right a:hover::after {
    border-bottom-color: white;
    transform: translateX(0%);
    box-shadow: 2px 2px 4px #000000;
}
/* 'box-shadow' property for 'img' elements */
.navbar li:first-child:hover, .navbar_right li:hover {
    box-shadow: -3px 2px 2px black, 0 0 2px black;
    transition: 0.3s;
}


/* rules for main navbar */
.navbar li:first-child {
    margin: 0 20px 0 5px;
}
.navbar a.logo::after {
    border-bottom: none;
}


/* rules for right navbar */
.navbar_right {
    float: right;
}
.navbar_right a::after {
    border-bottom: none;
}